alembic==1.13.1
amqp==5.1.1
anyio==3.7.1
apispec==6.3.0
argcomplete==3.2.3
attrs==23.2.0
Babel==2.14.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
billiard==3.6.4.0
blinker==1.7.0
cachetools==5.3.3
cattrs==23.2.3
celery==5.2.7
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
channels==4.0.0
click==8.1.7
clickclick==20.10.2
colorama==0.4.6
colorlog==6.8.2
commonmark==0.9.1
croniter==2.0.3
cryptography==41.0.7
daphne==4.0.0
db-dtypes==1.2.0
defusedxml==0.7.1
dill==0.3.8
distlib==0.3.8
dnspython==2.6.1
docutils==0.20.1
duckdb==1.0.0
email-validator==2.1.1
et-xmlfile==1.1.0
filelock==3.13.3
firebase-admin==6.3.0
flower==2.0.1
folium==0.15.1
geopandas==0.14.3
#Google
google-cloud-bigquery==3.11.4
google-cloud-bigquery-storage==2.24.0
google-cloud-storage==2.14.0
google-cloud-logging==3.10.0
#end google
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.4
httplib2==0.22.0
httpx==0.27.0
humanize==4.10.0
idna==3.6
importlib-metadata==7.1.0
importlib-resources==6.1.1
inflection==0.5.1
iso8601==2.1.0
isodate==0.6.1
itsdangerous==2.1.2
JayDeBeApi==1.2.3
Jinja2==3.1.3
JPype1==1.5.0
json-merge-patch==0.2
jsonschema==4.22.0
kombu==5.2.4
lazy-object-proxy==1.10.0
libcst==1.2.0
lockfile==0.12.2
lxml==5.1.0
Mako==1.3.2
Markdown==3.5.2
MarkupSafe==2.1.5
marshmallow==3.21.1
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.1.1
marshmallow-sqlalchemy==0.30.0
mypy-extensions==1.0.0
nox==2024.3.2
oauth2client==4.1.3
oauthlib==3.2.2
openapi-schema-validator==0.6.0
openapi-spec-validator==0.7.1
openpyxl==3.1.2
packaging==24.0
pandas==2.2.1
paramiko==3.4.0
pendulum==2.1.2
platformdirs==4.2.0
prison==0.2.1
prometheus-client==0.20.0
proto-plus==1.23.0
protobuf==4.24.4
psutil==5.9.8
psycopg2-binary==2.9.9
py==1.11.0
py4j==0.10.9.7
pyarrow==12.0.1
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycparser==2.22
pydata-google-auth==1.8.2
Pygments==2.17.2
PyJWT==2.8.0
pyodbc==4.0.39
pyOpenSSL==23.3.0
pyparsing==3.1.2
pyrsistent==0.20.0
pysftp==0.2.9
python-daemon==3.0.1
python-editor==1.0.4
python-nvd3==0.16.0
python-slugify==8.0.4
python3-openid==3.2.0
PyYAML==6.0.1
redis==4.5.5
requests==2.31.0
requests-oauthlib==1.3.1
rfc3986==2.0.0
rich==13.7.0
rsa==4.9
setproctitle==1.3.3
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==1.4.49
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.41.1
sshtunnel==0.4.0
swagger-ui-bundle==0.0.9
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
text-unidecode==1.3
tornado==6.4
typing-extensions==4.10.0
typing-inspect==0.9.0
unicodecsv==0.14.1
Unidecode==1.3.8
uritemplate==4.1.1
urllib3==2.2.0
vine==5.1.0
virtualenv==20.25.0
Werkzeug==3.0.2
WTForms==3.1.2
zipp==3.17.0

# Django + DRF + storage
Django==3.2.25
django-background-tasks==1.2.5
django-cors-headers==4.3.1
django-environ==0.11.2
django-storages==1.14.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1

# Imaging
Pillow==10.3.0